body{
    background-color: rgb(255, 217, 0);
}
.card{
    background-color: white;
    width: 400px;
    border: 1px solid rgb(131, 111, 0);
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    transition: 0.4ms;
    }
.card :hover{
    box-shadow: 0 0 40px;
    
}
img{
    width:100% ;
    border-radius: 10px;

}
.text{
    padding: 30px;
}
.h2{
    font-size:33px ;
    color: rgb(43, 43, 43);
    margin-bottom: 16px;
}
p{
    font-size: 24px;
    color: black;
margin-bottom: 16px;
}
a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(255, 153, 0);
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;

}
a:hover  {
    background-color: rgb(255, 230, 0);
}